{% extends "system_app/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Merchants{% endblock %}

{% block breadcrumb %}
<h1>
    Merchant
    <small>ALL</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Merchants</li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <button type="button" class="btn btn-default pull-right">
                    <a href="{% url 'merchant_add' %}" class="pull-right">
                        <i class="fa fa-plus"></i> Add
                    </a>
                </button>
            </div>
            <div class="box-body">
                <table id="merchant_table" class="table table-bordered table-striped">
                    <colgroup>
                        <col style="width:5%">
                        <col style="width:40%">
                        <col style="width:10%">
                        <col style="width:45%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Sales</th>
                            <th>Cubes</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block pagescripts %}
<script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script>
    $(function () {
        var dt_language = {
            "emptyTable":     "{{ 'No data available in table' }}",
            "info":           "{{ 'Showing _START_ to _END_ of _TOTAL_ entries' }}",
            "infoEmpty":      "{{ 'Showing 0 to 0 of 0 entries' }}",
            "infoFiltered":   "{{ '(filtered from _MAX_ total entries)' }}",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "{{ 'Show _MENU_ entries' }}",
            "loadingRecords": "{{ 'Loading...' }}",
            "processing":     "{{ 'Processing...' }}",
            "search":         "{{ 'Search:' }}",
            "zeroRecords":    "{{ 'No matching records found' }}",
            "paginate": {
                "first":      "{{ 'First' }}",
                "last":       "{{ 'Last' }}",
                "next":       "{{ 'Next' }}",
                "previous":   "{{ 'Previous' }}"
            },
            "aria": {
                "sortAscending":  "{{ ': activate to sort column ascending' }}",
                "sortDescending": "{{ ': activate to sort column descending' }}"
            }
        }

        $('#merchant_table').dataTable({
            order: [[0, 'asc']],
            language: dt_language,
            lengthMenu: [[25, 50, 100, 200], [25, 50, 100, 200]],
            columnDefs: [
                {
                    orderable: false,
                    searchable: false,
                    targets: [2, 3]
                }
            ],
            searching: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: "{% url 'merchants_json' %}"
        });
    })
</script>
{% endblock %}